*{
    padding: 0;
    margin: 0px auto;
}
.wrapper{
    border: 2px solid #030303;
    height: auto;
    width: 960px;
    margin: 0px auto;
    
}
header{
    height: 150px;
    width: 960px;
    position: relative;
    background-color: #294e79;
}
header img{
    position: absolute;
    top: 10px;
    left:10px;
    width: 90px;
    height: 120px;
    
}
header h2{
    font-family: Times;
    font-size: 40px;
    position: absolute;
    top: 40px;
    left:100px;
    color: white;
    
}
header h4{
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    top: 100px;
    left: 100px;
    color: white;
}
header #frm{
    color: #f4f0f0;
    position: absolute;
    top: 10px;
    right: 10px;
}
header #frm #btnS{
    color: #f4f0f0;
    border: 1px solid #3e6999;
    padding: 2px;
    background-color: #143152;
    border-radius: 0%;
}
header #frm #txtS{
    
    border: 1px solid #3e6999;
    background-color: #143152;
    padding: 2px;
}
nav{
    position: absolute;
    bottom: 3px;
    right: 20px;
}
.menu li{
    display: inline-table;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #4074b4;
    line-height: 50px;
}
.menu li:hover{
    background-color: #e673c3;
}
.menu li a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
.menu li .sub-menu{
    display: none;
    position: absolute;
    background-color: #576c85;
    line-height: 50px;
}
.menu li:hover .sub-menu{
    display: block;
    left: 0px;
    top: 51px;
}
.menu li:nth-child(4){
    position: relative;
}
.menu li .sub-menu li:nth-child(1){
    
    position: absolute;
    top: 2px;   
    left: 0px;
    width: 115px;
}
.menu li .sub-menu li:nth-child(2){
    
    position: absolute;
    top: 54px;   
    left: 0px;
    width: 115px;
}
.menu li .sub-menu li:nth-child(3){
    
    position: absolute;
    top: 106px;   
    left: 0px;
    width: 115px;
}
.container{
    display: flex;
    width: 100%; /* Use full width of .khung */
    height: auto;
    flex-direction: row;
    box-sizing: border-box;
    
}
aside{
    width: 340px;
    height: 400px;
    background-color: rgb(228, 225, 225);
    right: 10px;
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}
article{
    width: 580px;
    height:auto;
    display: block;
    padding: 10px;

}
.container2{
    display: flex;
}
.section1{
    width: 320px ;
    background-color: #fff;
    padding: 5px;
    margin-right: 5px;
}
.section2{
    width: 260px;
    
}
.form-container{
    display: flex;
    flex-wrap: wrap; /* Cho phép các phần tử linh hoạt nếu không đủ không gian */
    justify-content: flex-start;
}
.form-subgroup {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-right: 5px;
    
}

.form-subgroup input[type="text"] {
    width: 80px; 
    height: 15px;
    margin-bottom: 10px;
}
aside img{
    width: 320px;
    border: 5px solid gray;
}
footer{
    margin-top: 10px;
    height: 40px;
    width: 950px;
    background-color: #294e79;
    line-height: 40px;
    padding-left: 10px;
    
}